
* {
    box-sizing: border-box;
    margin: 0PX;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 22px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: repeat(12, minmax(40px, auto));
    gap: 10px; 
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(97, 94, 94, 0.1);
}


.item {
    background-color: #bfeeac; 
    color: rgb(41, 38, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 10px;
    padding: 6px;
}
.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / span 12; 
}
.item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 7;
}
.item-3 {
    grid-column: 2 / 3;
    grid-row: 7 / 13; 
}

.item-4 {
    grid-column: 3 / 4;
    grid-row: 1 / 5;
}
.item-5 {
    grid-column: 3 / 4;
    grid-row: 5 / 9;
}
.item-6 {
    grid-column: 3 / 4;
    grid-row: 9 / 13;
}
.item-7{
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}
.item-8 {
    grid-column: 4 / 5;
    grid-row: 4 / 7;
}
.item-9 {
    grid-column: 4 / 5;
    grid-row: 7 / 10;
}
.item-10 {
    grid-column: 4 / 5;
    grid-row: 10 / 13;
}
.item-11 {
    grid-column: 5 / 6;
    grid-row: 1 / 3;
}
.item-12 {
    grid-column: 5 / 6;
    grid-row: 3 / 5;
}
.item-13 {
    grid-column: 5 / 6;
    grid-row: 5 / 7;
}
.item-14 {
    grid-column: 5 / 6;
    grid-row: 7 / 9;
}
.item-15 {
    grid-column: 5 / 6;
    grid-row: 9 / 11;
}
.item-16 {
    grid-column: 5 / 6;
    grid-row: 11 / 13;
}
.item-17 {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
 
}
.item-18 {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
    
}
.item-19 {
    grid-column: 6 / 7;
    grid-row: 3 / 4;
 
}
.item-20 {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
 
}
.item-21 {
    grid-column: 6 / 7;
    grid-row: 5 / 6;
 
}
.item-22 {
    grid-column: 6 / 7;
    grid-row: 6 / 7;
 
}
.item-23 {
    grid-column: 6 / 7;
    grid-row: 7 / 8;
    
}
.item-24 {
    grid-column: 6 / 7;
    grid-row: 8 / 9;
 
}
.item-25 {
    grid-column: 6 / 7;
    grid-row: 9 / 10;
    
}
.item-26 {
    grid-column: 6/ 7;
    grid-row: 10 / 11;
    
}
.item-27 {
    grid-column: 6 / 7;
    grid-row: 11 / 12;
 
}
.item-28 {
    grid-column: 6 / 7;
    grid-row: 12 / 13; 
    
}